* { 
	margin: 0; 
	padding: 0; 
	}
body { 
	background-color: #F5F5F5; 
	}
img {
	border: 0; 
	vertical-align: top;
	 }
ul, li {
	list-style: none;
	 }

.shutter {
  overflow: hidden;
  width: 1800px;
  height: 480px;
  position: relative;
  margin: 0 auto;
  border-radius: 1px;
}
.shutter-img {
  z-index: 1;
}
.shutter-img,
.shutter-img a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.shutter-img a {
  cursor: default;
}
.shutter-img a > img {
  width: 100%;
  height: 100%;
}
.shutter-img .created {
  overflow: hidden;
  position: absolute;
  z-index: 20;
}
.shutter-btn {}
.shutter-btn li {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 49px;
  height: 49px;
  margin-top: 179px;
  cursor: pointer;
}
.shutter-btn li.prev {
  left: 20px;
  background: url(../images/shutter_prevBtn.png) no-repeat 0 -49px;
}
.shutter-btn li.next {
  left: 1460px;
  background: url(../images/shutter_nextBtn.png) no-repeat 0 -49px;
}
